body {
	font-family: "Roboto",sans-serif;
	font-size: 17px;
	background-color: #000;
	margin: 0;
}

#titleh1 {
	font-family: "Roboto Slab",serif;
	color: #DDD;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 300%;
}

#titleh2 {
	font-family: "Roboto Slab",serif;
	color: #DDD;
	margin: 0;
	font-size: 146%;
	width: 20em;
}

#logo-link {
	margin-left: 1em;
	display: block;
}

#panel {
	position: absolute;
	top: 0;
	width: 10em;
	left: 0;
	padding-left: 0.5em;
}
.p-segment {
	margin-left: 1.25em;
}

.p-nav-u {
	list-style: none none;
	padding: 0;
	margin: 0 0 1em 0;
	display: block;
}

.p-title {
	display: block;
	background-image: #ffffff;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% 1px;
	color: #54595d;
	border: 0;
	padding: 0.25em 0;
	margin: 0.5em 0 0.5em 0;
	font-weight: normal;
	font-size: 0.75em;
}

.p-nav-link {
	margin: 0;
	padding: 0.25em 0;
	line-height: 1.125em;
	font-size: 0.75em;
}

#logo-img {
	height: 100px;
	box-shadow: 0 0 0;
	max-width: none;
}

#headMenu {
	position: absolute;
	right: 0.8em;
}

#menuList {
	font-size: 0.75em;
	margin-top: 0.5em;
}

#menuLoginInfo {
	background-image: url(../Images/usericon.png);
	background-position: left 0.6em;
	background-repeat: no-repeat;
	background-size: 0.9em 0.9em;
	padding-top: 0.5em;
	padding-left: 16px;
	display: inline;
	color: #999999;
}

.menuButton {
	display: inline;
	margin-right: 1em;
    line-height: 3em;
}

#leftnav {
	margin-left: 6.9em;
	float: left;
	margin-top: 3.8em;
	background-image: linear-gradient(to bottom,rgba(167,215,249,0) 0,#a7d7f9 100%);
	background-repeat: no-repeat;
	background-size: 1px 100%;
	padding-left: 1px;
}

#rightnav {
	float: right;
	margin-top: 2.75em;
	background-image: linear-gradient(to bottom,rgba(167,215,249,0) 0,#a7d7f9 100%);
	background-repeat: no-repeat;
	background-size: 0;
	padding-left: 1px;
}

.pageType {
	float: left;
	height: 100%;
	list-style: none none;
	margin: 0;
	padding: 0;
	background-image: linear-gradient(to top,#77c1f6 0,#e8f2f8 1px,#222222 100%);
}

.selected {
	background-color: black;
}

.selected a {
	color: black;
}

.deselected a {
	color: #0645ad
}

.typeButton {
	background-position: right bottom;
	box-sizing: border-box;
	float: left;
	font-size: 0.8125em;
	height: 3.07692308em;
	padding-top: 1.25em;
	padding-left: 8px;
	padding-right: 8px;
	background-image: linear-gradient(to bottom,rgba(167,215,249,0) 0,#a7d7f9 100%);
    background-repeat: no-repeat;
    background-size: 1px 100%;
}

#lang {
	height: 3.3em;
	border: 1px solid #a2a9b1;
	border-radius: 2px;
	background-color: #000;
	color: #fff;
	width: 5em;
	font-family: inherit;
}

#search {
	float: right;
	margin-right: 1.5em;
	margin-left: 0.5em;
	width: 26.6vw;
	min-width: 5em;
	position: relative;
	display: inline-flex;
}

#searchInput {
	width: 100%;
	height: 3em;
	border: 1px solid #a2a9b1;
	border-radius: 2px;
	padding-left: 0.4em;
	background-color: #000;
	color: #fff;
	font-family: inherit;
}

#searchButton {
	background-image: url(../Images/searchicon.png);
    background-position: center center;
    background-repeat: no-repeat;
	background-color: transparent;
	background-size: 20px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 1.84615385em;
    height: 1em;
    border: 0;
    padding-top: 2.2em;
    padding-right: 1em;
}

#lang-settings {
	background: transparent url(https://en.wikipedia.org/w/extensions/UniversalLanguageSelector/resources/images/cog-sprite.svg) no-repeat center top;
	border: 0;
	min-height: 16px;
	min-width: 16px;
	float: right;
	cursor: pointer;
}

#foreheadlol {
	background-color: #222222;
	height: 100px;
}

#main {
	background-color: #000000;
	color: #ddd;
	direction: ltr;
	padding: 1em 1.5em 1.5em 1.5em;
	margin-left: 0em;
	line-height: 1.6;
	font-size: 0.875em
}

#top-portals {
	position: absolute;
    right: -1em;
    top: 50%;
    margin-top: -2.4em;
    width: 38%;
    min-width: 25em;
    font-size: 95%;
}

#footer-copyright {
	padding: 1.25em;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.4;
	color: #999;
}

footer {
	display: block;
	margin-top: 0;
	margin-left: 0.5em;
	padding: 1.25em;
	padding-top: 0;
	font-size: 0.75em;
}

#footer-links {
	display: inline;
	list-style: none none;
	margin: 0;
	padding: 0;
}

#topbanner {
    position: relative;
    width: 100%;
    margin-top: 1.2em;
    min-width: 47em;
    border-color: #ddd;
    background-color: #222;
    border-width: 0;
    border-style: solid;
    border-radius: 2px;
    padding: 0.1em 0;
}

#top-welcomesegment {
	margin: 0.4em;
    width: 22em;
    text-align: center;
}

#top-welcome {
	font-size: 162%;
    padding: 0.1em;
    display: block;
}

#top-welcome2 {
	font-size: 95%;
	display: block;
}

#top-welcome3 {
	font-size: 85%;
	display: block;
}

#top-portals li {
	position: absolute;
}

.top-column2 {
	left: 40%;
}

.top-column3 {
	left: 70%;
}

.top-row2 {
	top: 1.6em;
}

.top-row3 {
	top: 3.2em;
}

#mainbody {
	margin-top: 4px;
	margin-bottom: 0;
	border-spacing: 0;
	font-size: 100%;
	border: 0;
	width: 100.05%;
}

#mainbody-left {
	width: 55%;
    border-color: #cef2e0;
    background: #222;
    border-width: 0;
    border-style: solid;
    padding: 0;
    vertical-align: top;
    border-radius: 2px;
}

#mainbody-border {
	color: white;
	padding-left: 3px
}

#mainbody-right {
	width: 45%;
    border-color: #cef2e0;
    background: #222;
    border-width: 0;
    border-style: solid;
    padding: 0;
    vertical-align: top;
    border-radius: 2px;
}

.mainbody-title {
	margin: 0.5em 0 0.5em 0;
    padding: 0 0.4em;
    font-size: 120%;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    color: #222;
    box-shadow: 0 2px 2px #111111;
}

.main-left-title-h2 {
	background: #cef2e0BF;
    border-color: #a3bfb1;
}

.main-right-title-h2 {
	background: #cedff2BF;
    border-color: #a3b0bf;
}

.main-table-content {
	float: left;
	margin: 0.1em 0.6em
}

#main-featured-img {
	float: left;
	margin: 0.5em 0.9em 0.4em 0em;
}

.main-featured-img-capt {
	padding: 0.25em 0;
	word-wrap: break-word;
	font-size: 94%;
	line-height: 1.4em;
}

.right-float-img {
	float: right;
	margin-left: 0.5em;
	margin-top: 0.2em;
}

#covid-news {
	margin: 0px 0px 4px 0px;
    padding: 5px;
    text-align: center;
    border-style: solid;
    background: #444;
    border: 1px solid #a3b0bf;
    display: block;
    text-align: center;
    border-radius: 2px;
}

.main-table-content ul {
	margin: 0.3em 0 0 1.6em;
	padding: 0;
}

.section-footer {
	display: block;
	margin-top: 0.5em;
}

.right {
	text-align: right;
}

#covid-news dd, #covid-news dt {
	margin: 0;
	display: inline;
}

#covid-news dl {
	margin: 0;
	padding: 0;
}

#footer-icons {
	float: right;
	list-style: none none;
	margin: 0;
	padding: 0;
}

#footer-icons li {
	float: left;
	margin-left: 0.5em;
	line-height: 2;
	text-align: right;
}

.article-head1 {
	font-size: 1.8em;
	margin-bottom: 0.25em;
	border-bottom: 1px solid #999;
	font-family: "Roboto Slab",serif;
}

.article-head2 {
	font-size: 1.5em;
	margin-bottom: 0.25em;
	border-bottom: 1px solid #999;
	overflow: hidden;
	font-family: "Roboto Slab",serif;
}

#infobox {
	width: 22em;
	float: right;
	margin: 0.5em 0 0.5em 1em;
	border: 1px solid #999;
	font-size: 88%;
	background-color: #222;
	border-spacing: 3px;
}

#infobox-cap {
	font-size: 122%;
}

.info-h1 {
	vertical-align: top;
	text-align: left;
}

.centertext {
	text-align: center;
}

.workstable {
	background-color: #333;
	margin: 1em 0;
	border: 1px solid #999;
	border-spacing: 2px;
	border-collapse: collapse;
}

.workstable-non-title {
	background-color: #222;
}

.workstable > * > tr > td, .workstable > * > tr > th {
	border: 1px solid #999;
	padding: 0.2em 0.4em;
}

.workwon {
	background-color: #99FF9960;
}

.worknom {
	background-color: #FDDDDD60;
}

a:link, a:visited {
	text-decoration: none;
}

a {
	color: #80a0ff;
}

a:visited {
	color: #8070ff;
}

a:hover, a:active {
	text-decoration: underline;
}

dt {
	font-weight: bold;
}

div {
	display: block;
}

img {
	box-shadow: 0 2px 2px #111111;
	max-width: 100%;
}